<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%="#{@word1} "%><%"+"%><%="#{@word2} "%><%"+"%><%="#{@word3} "%><%"+"%><%="#{@word4} "%><%"+"%><%="#{@word5}."%>
  </body>
</html>
